# Node.js dependencies
node_modules/

# Environment variables
.env

# Log files
*.log

# Build output
# dist/
build/

# Operating system files
.DS_Store      # macOS
Thumbs.db      # Windows

# IDE settings
.vscode/
*.sublime-project
*.sublime-workspace
